.article-card{
    .content{
        flex-direction: column;
    }
    .card{
        width: 1100px;
        height: 320px;
        border-radius: 30px;
        background: #D9D9D9;
        margin-bottom: 3%;
        img{
            width: 450px;
            height: 320px;
            border-radius: 30px;
        }
        .item{
            height: 100%;
            padding: 0px 30px;
            flex-direction: column;
            align-items: start;
            justify-content: space-around;
            .title{
                font-weight: bold;
                font-size: 1.2rem;
                margin-bottom: 0;
            }
            .describe{
                text-align: justify;
            }
            .labels{
                width: 100%;
                justify-content: end;
                .label-item{
                    font-size: .8rem;
                    background: #A2BEF6;
                    padding: 4px 10px;
                    border-radius: 20px;
                    margin: 0 5px;
                }
                .data{
                    font-size: .8rem;
                    margin-left: 20px;
                    letter-spacing: .1rem;
                }
            }
        }

    }

} 